{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}



<h1 class="govuk-heading-l">Reference Request</h1>
<p class="govuk-body">Dear Katie Watson ,</p>
<p class="govuk-body">Re: A8 testing PH</p>
<p class="govuk-body">We are undertaking pre-employment checks tor
TestUR1 TestUR1</p>
<p class="govuk-body">They have been successful in the above vacancy
and have nominated you as a referee.</p>
<p class="govuk-body">To enable us to complete our checks, please
<a href='/page1'>access the reference form.</a> We would appreciate it
if you could complete the form within 48 hours to
avoid any delay</p>
<p class="govuk-body">An unfavourable reply does not necessarily mean
that the applicant won't be offered a job; your
reference IS very valuable to us and we will take it
into consideration in the strictest confidence.</p>
<p class="govuk-body">Thank you very much in advance tor your time. It
you have any queries please email
<a href='#'>test@test.com</a>
</p>
<p class="govuk-body">Kind regards,<br>
HM Revenue and Customs recruitment team
</p>
{% endblock %}
