{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<p class="govuk-body">Not logged in</p>

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}



{% set phoneHtml %}
{{ govukTextarea({
  id: "yes",
  name: "yes",
  type: "tel",
  autocomplete: "tel",
  label: {
    text: "Provide details of the applicant’s work with you during the last 3 years"
  }
}) }}
{% endset -%}


{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "Has the applicant worked with you during the last 3 years?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [

    {
      value: "yes",
      text: "yes",
      conditional: {
        html: phoneHtml
      }
    },
    {
      value: "no",
      text: "no"
    }
  ]
}) }}

{{ govukButton({
  text: "Submit",
  href: "/page5"

}) }}


{% endblock %}
