{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<p class="govuk-body">Not logged in</p>

<form class="form" action="/how-long-known" method="post">

  {% from "govuk/components/input/macro.njk" import govukInput %}

  {{ govukInput({
    label: {
      text: "Your full name",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "event-name",
    name: "event-name"
  }) }}

  {{ govukInput({
    label: {
      text: "Your UK telephone number",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "Enter a telephone number like 01632 960 001, 07700 900 982 or +44 808 157 0192"
    },
    id: "event-name",
    name: "event-name"
  }) }}

{% endblock %}
