{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<p class="govuk-body">Not logged in</p>

{% from "govuk/components/input/macro.njk" import govukInput %}



{{ govukInput({
  label: {
    text: "Your full name"
  },
  classes: "govuk-!-width-one-third",
  id: "one-third",
  name: "one-half"
}) }}

{{ govukInput({
  label: {
    text: "Your UK telephone number"
  },
  classes: "govuk-!-width-one-third",
  id: "one-third",
  hint: {
    text: "Enter a telephone number like 01632 960 001, 07700 900 982 or +44 808 157 0192"
  },
  name: "one-third"
}) }}

{{ govukButton({
  text: "Submit",
  href: "/page4"

}) }}

{% endblock %}
